/* ============= Common styles ============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-media-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: #f4f4fd;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============= /Common styles ============= */

/* ============= Page Header styles ============= */
.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.contacts-list {
  display: flex;
  gap: 40px;
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.accent-color {
  color: #2e2f42;
}
.menu-link.active {
  position: relative;
  color: #404bbf;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-link.active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  color: #404bbf;
}

.contacts-list-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #404bbf;
}
/* ============= /Page Header styles ============= */

/* ============= Hero section styles ============= */
.hero-section {
  max-width: 1440px;

  padding-top: 188px;
  padding-bottom: 188px;

  margin-left: auto;
  margin-right: auto;

  background-color: #2e2f42;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  max-width: 496px;
  font-size: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;

  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.order-service-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  padding: 10px 28px;
  min-width: 169px;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
}
/* ============= /Hero section  styles ============= */

/* ============= Benefits section  styles ============= */
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benefits-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;

  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}

.benefits-list {
  display: flex;
  gap: 24px;
}
/* ============= /Benefits section styles ============= */

/* ============= Team section styles ============= */
.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-list-item {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-container {
  padding: 32px 0;
}

.team-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-list-item:hover .social-media-list-link,
.social-media-list-link:focus {
  background-color: #404bbf;
}

.team-list-item {
  background-color: #ffffff;
}
/* ============= /Team section styles ============= */

/* ============= Portfolio section styles ============= */
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-list-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 40px 32px;
  background-color: #4d5ae5;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-list-overlay-text {
  transform: translateY(0%);
}

.portfolio-list-overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* ============= /Portfolio section styles ============= */

/* ============= Footer section styles ============= */
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-content-container {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  max-width: 262px;
}
.accent-color-footer {
  color: #f4f4fd;
}

.social-media-footer-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.social-media-footer-color:hover,
.social-media-footer-color:focus {
  background-color: #31d0aa;
}

.social-media-list.social-media-list-footer {
  gap: 16px;
}
/* ============= /Footer section styles ============= */
